/* fonts */
/* Irish Grover */
/* Jacques Francois Shadow */
/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Irish+Grover&family=Jacques+Francois+Shadow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind v3 is used because i cant figure out what went wrong with v4 */
@theme {
    --font-irish-grover: 'Irish Grover', system-ui;
    --font-jacques-francois-shadow: 'Jacques Francois Shadow', serif;
    --font-bebas-neue: "Bebas Neue", sans-serif;
}
